.Navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 2rem;
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 100;
}

.Navbar .logo-menu{
    height: 100%;
    display: flex;
}

.Navbar .search-box{
    display: flex;
    align-items: center;
    height: 2.1rem;
    background-color: #ebebeb;
    border-radius: 1rem;
}

.Navbar .search-box input{
    border-radius: 1rem 0 0 1rem;
    padding: 0 1rem;
    height: 1.8rem;
    width: 40vw;
}

.Navbar .search-box input::-webkit-input-placeholder { /* Edge */
    color: #a9a9a9;
    font-size: 0.9rem;
}

.Navbar .search-box input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #a9a9a9;
    font-size: 0.9rem;
}

.Navbar .search-box input::placeholder {
    color: #a9a9a9;
    font-size: 0.9rem;
}

.Navbar .search-box input[type=submit]{
    background-image: url(../assets/searchBtn.svg);
    color: black;
    border: 0;
    display: block;
    width: max-content;
}

.Navbar .search-box svg{
    padding: 0 1rem;
}

.Navbar .nav-btn{
    display: flex;
    height: 100%;
}

.Navbar .nav-btn svg {
    padding: 0 1.5rem;
}

.Navbar svg{
    height: 90%;
    padding: 0 0.5rem;
}

.Navbar .profile-img{
    aspect-ratio: 1/1;
    height: 90%;
    border-radius: 100%;
}