.SearchResults{
    width: 84%;
    display: flex;
    flex-direction: column;
    align-items: start;
    position: absolute;
    right: 0;
    top: 4rem;
}

.SearchResults a{
    text-decoration: none;
    color: currentColor;
}

@media screen and (max-width: 1200px) {
    .SearchResults{
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    .SearchResults{
        align-items: center;
    }
}