.Side-Menu .Side-Menu-Element{
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
    margin: 0.2rem 0;
    border-radius: 0.8rem;
}

.Side-Menu .Side-Menu-Element:hover{
    background-color: rgb(234, 234, 234);
}

.Side-Menu .Side-Menu-Element svg{
    padding: 0 1.3rem;
}

.Side-Menu .Side-Menu-Element p{
    margin: 0;
    font-size: 0.9rem;
}