.SuggestedVideo{
    width: min-content;
    margin: 1rem 0 0 1.5rem;
    border-radius: 1rem;
}

/* 
.SuggestedVideo:hover{
    background-color: grey;
} */

.SuggestedVideo .video{
    aspect-ratio: 16 / 9;
    height: 12rem;
    border-radius: 1rem;

}

.SuggestedVideo .Video-title{
    font-weight: 500;
    margin: 0.5rem 0;
}

.SuggestedVideo .Video-channel{
    color: rgb(97, 97, 97);
    font-size: 0.85rem;
    margin: 0.5rem 0 0 0;
}

.SuggestedVideo .Views-TimeAgo{
    color: rgb(97, 97, 97);
    display: flex;
    font-size: 0.85rem;
    margin: 0;
}

.SuggestedVideo .Views-TimeAgo p{
    margin: 0.4rem 0.5rem 0 0;
}