*{
    margin: 0;
}

.Video{
    display: flex;
    gap: 1rem;
    padding: 1rem 8%;
    position: absolute;
    top: 4rem;
}

.Video .video-container{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem 0;
}

.Video .video-container .video-player{
    aspect-ratio: 16 / 9;
    height: 25rem;
}

.Video .video-container .video-play-title{
    font-weight: 500;
    font-size: 1.2rem;
}

.Video .video-container .video-play-channel{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 0.5rem 0;
}

.Video .video-container .video-play-channel img{
    height: 1.5rem;
    border-radius: 100%;
}

.Video .video-container .video-play-channel p{
    font-weight: 500;
    font-size: 0.9rem;
}

.Video .video-container .video-play-views{
    font-size: 0.8rem;
}

.Video .recommended-Video{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 1rem;
}

.Video .recommended-Video a{
    text-decoration: none;
    color: currentColor;
}

@media screen and (max-width: 1300px) {
    .Video{
        padding: 1rem 6%;
    }
}

@media screen and (max-width: 1200px) {
    .Video{
        padding: 1rem 4%;
    }
}

@media screen and (max-width: 1150px) {
    .Video{
        padding: 1rem 3%;
        flex-direction: column;
    }

    .Video .video-container .video-player{
        height: auto;
    }
}